@import "tailwindcss";

@theme {
  /* fontsize */
  --text-xs: 0.7rem; 
  --text-sm: 0.75rem;
  --text-base: 0.8rem;
  --text-lg: 0.9rem;
  --text-xl: 0.95rem;
  --text-2xl: 1rem;
  --text-3xl: 1.15rem;
  --text-4xl: 1.25rem;
  /* fontsize */

  /* screens */
  --breakpoint-fh: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  /* screens */

  /* colors */
  --color-primary-background: #333333;
  --color-secondary-background: rgb(20, 20, 20);
  --color-secondary-background-hover: #001820;
  --color-danger: #940108;
  --color-danger-hover: #660005;
  --color-success: #048100;
  --color-success-hover: #036600;
  --color-primary-button: #414040;
  --color-primary-button-hover: #2c2c2c;
  --color-secondary-button: #1b1b1f;
  --color-secondary-button-hover: #121214;
  /* colors */
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: hidden;
  user-select: none;
  background-color: var(--color-primary-background);
  color: #ffffff;
  width: 100%;
  border: none;
}

body.overlay-mode {
  background-color: transparent;
  overflow: hidden; 
  display: block; 
  width: 100%;
  height: fit-content;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

/* browser Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.4rem; 
  height: 0.4rem
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff33; 
  border-radius: 1rem; 
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff46;
}

.scroller-container::-webkit-scrollbar-corner {
  background-color: transparent; 
}


/* bar */
.overlay-mode .title-bar {
  display: none;
}

.title-bar {
  background-color: var(--color-secondary-background);
  color: white; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  -webkit-app-region: drag; 
  user-select: none; 
  width: 100%;
}

.title-bar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-weight: bolder;
  font-size: 1rem;
}

.bar-app-title {
  padding: 5px 15px;
}

.window-controls {
  padding: 0px 5px;
  display: flex;
  gap: 0.4rem;
}

.control-button {
  padding: 0rem 1rem;
  border-radius: 0.2rem;
  -webkit-app-region: no-drag;
}
.control-button-exit {
  padding: 0rem 1rem;
  background-color: none;
  border-radius: 0.2rem;
  -webkit-app-region: no-drag;
}
.control-button:hover {
  background-color: var(--color-primary-button);
} 
.control-button-exit:hover {
  background-color: var(--color-danger-hover);
}

.overlay-mode .title-bar {
  display: none;
}
.overlay-mode .title-bar-content {
  display: none;
}

.overlay-mode .bar-app-title {
  display: none;
}

.overlay-mode .window-controls {
  display: none;
}

.overlay-mode .control-button {
  display: none;
}
.overlay-mode .control-button-exit {
  display: none;
}
.overlay-mode .control-button:hover {
  display: none;
} 
.overlay-mode .control-button-exit:hover {
  display: none;
}